<%- include('includes/head.ejs') %>
<section>
  <article>
    <br />
    <h2 id="seccion">Spotify api</h2>
  </article>
<body>
    const options = {
        method: 'GET',
        headers: {
            'X-RapidAPI-Key': '5098369593msh0d449f076c96b1ep1ba8aejsn2196a8a29193',
            'X-RapidAPI-Host': 'spotify23.p.rapidapi.com'
        }
    };
</body>
<%- include('includes/foot.ejs') %>
