<footer>
    <a href="mailto:A01705651@tec.mx">Contáctanos</a>
    <p id="cprt">Copyright © 2024 Zebrands</p>
  </footer>
  <script src="script.js"></script>
  <script src="jquery.min.js"></script>
</body>
</html>
