<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="logo.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zėbrands_home</title>

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="style.css" />
    

    <!-- ===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Responsive Navigation Menu Bar</title>
  </head>
  <body>
    <nav>
      <div class="nav-bar">
        <i class="bx bx-menu sidebarOpen"></i>
        <span class="logo navLogo"><a href="#">Zėbrands</a></span>

        <div class="darkLight-profile">
          <div class="dark-light">
            <i class="bx bx-moon moon"></i>
            <i class="bx bx-sun sun"></i>
          </div>

          <div class="profile">
            <div class="userProfile">
              <i class="bx bx-x cancel"></i>
              <i class="bx bx-user user"></i>
            </div>
            <div class="user-sub-menu">
              <ul>
                <li><a href="#">Configuración</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Cerrar sesión</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="side_bar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="logo.png" alt="logo" />
          </span>

          <div class="text header-text">
            <span class="name">Zėbrands</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"> </i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="nav-link">
              <a href="/zebrand">
                <i class="bx bx-home icon"></i>
                <span class="text nav-text">Inicio</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/upload">
                <i class='bx bx-cloud-upload icon'></i>
                <span class="text nav-text">Upload</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/analitica">
                <i class="bx bx-line-chart icon"></i>
                <span class="text nav-text">Analítica</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/resenas">
                <i class="bx bx-star icon"></i>
                <span class="text nav-text">Reseñas</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/usuarios">
                <i class='bx bxs-user-plus icon'></i>
                <span class="text nav-text">Usuarios</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>