/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 7px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.15s ease;;
}

:root{
    --body-color: #FFF;
    --nav-color: #005CB9;
    --side-nav: #FFF;
    /*--text-color: #FFF;  Letras en blanco */
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --sidebar-color: #005CB9;
    --primary-color: #FFF;
    --primary-color-light: #5C5C5C;
    --toggle-color: #DDD;
    --text-color-up: #FFF;
    --text-color: #FFF;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-02);
    color: var(--nav-color); /* Letras en blanco */
    font-family: 'Poppins', sans-serif;
}

body.dark{
    color: var(--text-color);
    --body-color: #18191A;
    --nav-color: #242526;
    /*--side-nav: #242526;*/
    --text-color: #CCC; /* Letras en blanco */
    --search-bar: #242526;
    --sidebar-color: #242526; 
    --primary-color: #CCC;
    --side-nav: #CCC;
    --primary-color-light: #3A3B3C;

}
.side_bar.close{
    width: 107px;
    
}

/* CSS reusable */
.side_bar .text{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-34);
    white-space: nowrap;
    opacity: 1;
}


.side_bar.close .text{
    opacity: 0;
}

.side_bar .image{
    min-width:60px;
    display: flex;
    align-items: center;
}
/* Sidebar */

.side_bar{
    position: fixed;
    top: 0;
    left: -10;
    height: 100%;
    width: 230px;
    padding: 2px 2px;
    background: var(--sidebar-color);
    transition: var(--tran-05);

}

.side_bar li{
    height: 80px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.side_bar li .icon{
    display:flex ;
    align-items:first center;
    justify-content: center;
    min-width: 32px;
    font-size: 30px;
}

.side_bar li .icon,
.side_bar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.side_bar header {
    position:relative;
}

.side_bar .image-text img{
    width:50px;
    border-radius: 6px;
    ;
}

.side_bar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.side_bar header .toggle{
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: var(--side-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}
.side_bar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    transition: var(--tran-04);
}

.side_bar li a:hover{
    background: var(--primary-color);
}

.side_bar li a:hover .icon,
.side_bar li a:hover .text{
    color: var(--sidebar-color)
}

.side_bar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .darkLight-profile{
    background: var(--primary-color-light);
    border-radius: 6px;
    position: relative;
}

















.side_bar.close .logo{
    opacity: 0;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1350px;
    right: auto;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color-up);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color-up);
    text-decoration: none;
    padding-left: 590px;

}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-profile{
    display: flex;
    align-items: center;
}

.darkLight-profile .dark-light,
.darkLight-profile .userProfile{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.userProfile i{
    position: absolute;
    color: var(--text-color-up);
    font-size: 22px;
    cursor: pointer;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.userProfile i.cancel{
    opacity: 0;
    pointer-events: none;
}

.userProfile.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.userProfile.active i.user{
    opacity: 0;
    pointer-events: none;
}

.profile{
    position: relative;
}

.profile .user-sub-menu{
    position: absolute;
    top: 80px;
    right: 5px;
    height: 168px;
    width: 220px;
    background-color: var(--nav-color);
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.userProfile.active ~ .user-sub-menu{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.user-sub-menu::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}


.user-sub-menu ul {
    height: 100%;
    width: 100%;
    padding: 5px; 
    margin: 0; 
    list-style: none; 
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: var(--search-text);
    background-color: var(--body-color);
    border-radius: 4px;
}



.user-sub-menu i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}


body.dark .user-sub-menu i{
    color: var(--text-color);
}

#seccion {
        padding: 15px 55px;
        text-align: center;
        font-size: 35px;
    }

#cprt {
        text-align: center;
}


body {
        margin: 0 auto;
        max-width: 55em;
        line-height: 1.5;
        padding: 4em 1em;
}
    
a:link {
        font-size: 20px;
        text-decoration: none;
        color: #003ce0; 
}
a:visited {
    text-decoration: none; 
    color: #003ce0; 
}
a:hover{
    color:#D7E2FB;
}

body.dark a:link {
    text-decoration: none; 
    color: #D7E2FB; 
}

body.dark a:visited {
    text-decoration: none; 
    color: #fff; 
}

body.dark a:hover{
    color: #005CB9;
}

